.row
  .col-md-12.text-right.text-muted
    %p
      - if @usages.total_count != Usage.count
        showing
        = pluralize @usages.total_count, 'Coptic usage', 'Coptic usages'
        after filtering
        = "(#{(100 * @usages.total_count.to_f / Usage.count).round(1)}%)"
      - else
        showing all
        = pluralize Usage.count, 'Coptic usage', 'Coptic usages'
.row
  .col-md-12
    %ul
      - @usages.each do |usage|
        %li
          .panel.panel-default.panel-lemma
            .row
              %b.col-md-12
                = link_to optional_field(usage.meaning), usage_path(usage)
            .row
              .col-md-3
                .row
                  .col-md-12
                    - if usage.sublemma.present?
                      = fa_icon('link', class: 'text-muted panel-lemma-icon')
                      %span.coptic-greek{style: 'font-size: 18px'}= link_to usage.sublemma&.label, sublemma_path(usage.sublemma)
                .row
                  .col-md-12
                    = fa_icon('sitemap', class: 'text-muted panel-lemma-icon')
                    = optional_field usage.hierarchy
              .col-md-6
                .row
                  .col-md-12
                    = fa_icon('tag', class: 'text-muted panel-lemma-icon')
                    = optional_field usage&.distinction_tier&.label&.titleize
                .row
                  .col-md-12
                    = fa_icon('sticky-note-o', class: 'text-muted panel-lemma-icon')
                    %i= optional_field usage.criterion

              .col-md-3
                %p
                  attestations:
                  = "tbd"
                %p
                  = usage.updated_at.strftime('update: %b %Y')

.row
  .col-md-12.text-center
    = paginate @usages, window: 3
