- if usages.empty?
  = '-'
- else
  - show_sublemma = true if show_sublemma.nil?
  - show_distinction_tier = true if show_distinction_tier.nil?
  %table.table.table-hover.table-previews
    %tbody
      - usages.order(:sublemma_id, :hierarchy).each do |usage|
        %tr
          - if show_sublemma
            %td= link_to optional_field(usage.sublemma&.label), sublemma_path(usage.sublemma)
          %td= optional_field usage.hierarchy
          %td= optional_field usage.meaning
          - if show_distinction_tier
            %td= optional_field usage.distinction_tier&.label
          %td= link_to fa_icon('eye'), usage_path(usage)
