- content_for :page_title do
  Coptic Usages

%section.col-md-8.col-md-offset-2
  .container
    .page-header
      %h1.lexicon-headline
        %small= link_to 'Lexicon', '/lexicon/about'
        &ensp;
        %small= link_to 'Greek Lemma', lemmas_path
        &ensp;
        %small= link_to 'Coptic Sublemma', sublemmas_path
        &ensp;
        Coptic Usage


    .row
      .col-md-8
        .panel-default.panel-lexicon#filterrific_results
          = render partial: 'list'

      .col-md-4
        .panel.panel-default.panel-lexicon
          .panel-body
            = link_to new_usage_path do
              = fa_icon('plus')
              %b Create New Coptic Usage

        .panel.panel-default.panel-lexicon
          .panel-body
            = render partial: 'filter'
