- content_for :page_title do
  Coptic Usage

%section.col-md-8.col-md-offset-2
  .container
    .page-header
      %h1.lexicon-headline
        Create
        %small
          = link_to 'Lexicon', '/lexicon/about'
          &ensp;
          = link_to 'Greek Lemma', lemmas_path
          &ensp;
          = link_to 'Coptic Sublemma', sublemmas_path
          &ensp;
          = link_to 'Coptic Usage', usages_path
    = render 'form'