.row
  .col-md-12.text-right.text-muted
    %p
      - if @sublemmas.total_count != Sublemma.count
        showing
        = pluralize @sublemmas.total_count, 'Coptic sublemma', 'Coptic sublemmas'
        after filtering
        = "(#{(100 * @sublemmas.total_count.to_f / Sublemma.count).round(1)}%)"
      - else
        showing all
        = pluralize Sublemma.count, 'Coptic sublemma', 'Coptic sublemmas'
.row
  .col-md-12
    %ul
      - @sublemmas.each do |sublemma|
        %li
          .panel.panel-default.panel-lemma
            .row
              .col-md-12
                %span.coptic-greek.lemma-label= link_to sublemma.label, sublemma_path(sublemma)
            .row
              .col-md-4
                .row
                  .col-md-12
                    = fa_icon('link', class: 'text-muted panel-lemma-icon')
                    - if sublemma.lemma.present?
                      %span.coptic-greek{style: 'font-size: 15px'}= link_to sublemma.lemma&.label, lemma_path(sublemma.lemma)
                .row
                  .col-md-12
                    = fa_icon('sitemap', class: 'text-muted panel-lemma-icon')
                    = optional_field sublemma.hierarchy
              .col-md-5
                .row
                  .col-md-12
                    = fa_icon('tag', class: 'text-muted panel-lemma-icon')
                    = optional_field sublemma.part_of_speech&.label
                .row
                  .col-md-12
                    = fa_icon('globe', class: 'text-muted panel-lemma-icon')
                    = optional_field sublemma&.language&.code
              .col-md-3
                .row
                  .col-md-12
                    usages:
                    = sublemma.usages.count
                .row
                  .col-md-12
                    = sublemma.updated_at.strftime('update: %b %Y')


.row
  .col-md-12.text-center
    = paginate @sublemmas, window: 3
