- content_for :page_title do
  Coptic Sublemmas

%section.col-md-8.col-md-offset-2
  .container
    = render partial: 'shared/lexicon_navigation', locals: {is_sublemma: true}


    .row
      .col-md-8
        .panel-default.panel-lexicon#filterrific_results
          = render partial: 'list'

      .col-md-4
        .panel.panel-default.panel-lexicon
          .panel-body
            = link_to new_sublemma_path do
              = fa_icon('plus')
              %b Create New Coptic Sublemma

        .panel.panel-default.panel-lexicon
          .panel-body
            = render partial: 'filter'
