- content_for :page_title do
  About

%section
  .container
    .page-header
      %h1.project-headline
        About
        %small Project

    .row
      .col-md-8.col-md-offset-2
        %h3.text-center
          Loanword lexicography in the DDGLC project:
          %br
          Recording contact-induced language change of Egyptian-Coptic over 1,500 years

        .panel-group#accordion
          .panel.panel-default.panel-project
            .panel-heading
              .panel-title
                = link_to '#coptic', 'data-toggle': 'collapse', 'data-parent': '#accordion' do
                  What is Coptic?
            .panel-collapse.collapse.in#coptic
              .panel-body
                %p
                  %i Coptic
                  is the name of the last phase (ca. 300 CE - 1300 CE) of the longest-attested human language yet available
                  to linguistic study, the Ancient Egyptian lan&shy;guage (Loprieno 1995 & 2001; Loprieno & Müller 2012;
                  Schenkel 1990). Closely connected to the Christian population of Egypt, Coptic is one of the most
                  important languages of ancient Christian literature, alongside Greek, Latin and Syriac.
                  A great deal of Biblical and early Christian literature was translated into Coptic for Egyptian consumption,
                  while an autochthnous Coptic Christian literature flourished for centuries (Emmel 2007).
                %p
                  Writings of other late antique religious movements survived (often exclusively) in Coptic manuscripts,
                  such as the Manichaean books from Medinet Madi and Kellis or the Gnostic texts of the
                  %i Nag Hammadi Codices
                  and
                  %i Codex Tchacos
                  (which contains the notorious
                  = succeed ').' do
                    %i Gospel of Judas
                %p
                  Aside from its significance as a medium of
                  %i literary
                  writing, Coptic also served as the written form of communication in everyday Egyptian life.
                  Massive finds of papyri in Egypt have revealed thousands of Coptic
                  = succeed ',' do
                    %i documentary texts
                  such as private and business letters, administrative writings and legal documents.
                %p
                  Due to the contrast between the written language as used in formal, literary circumstances
                  and its life in the wider social sphere, Coptic includes a considerable variety of linguistic registers.
                  Coptic also includes up to a dozen highly standardized local dialects (Funk 1991, Kasser 1991a),
                  as well as a number of less standardized (or de-stan&shy;dardized) written norms.
                  In terms of ancient languages, the Coptic corpus is extraordinarily large and diverse.
                  Its diversity makes generalizing work on the Coptic language more difficult, but also more complex
                  and informative.

          .panel.panel-default.panel-project
            .panel-heading
              .panel-title
                = link_to '#langContact', 'data-toggle': 'collapse', 'data-parent': '#accordion' do
                  Language Contact in Hellenistic, Roman, and Early Islamic Egypt
            .panel-collapse.collapse#langContact
              .panel-body
                %p
                  Coptic was an eminent 'language in contact,' mainly borrowing from two donor languages, Greek and Arabic.
                  Greek was spoken and heard in Egypt as early as in the 7th century BCE,
                  a millennium before the standardization of Coptic.
                  Greek merchants who settled in Egypt and Greek mercenaries in the Pharaohs' armies
                  were early agents of linguistic interaction.
                  As a result of the campaigns of Alexander the Great, Greek spread over the Eastern Mediterranean
                  and became the most important lingua franca in the Middle East.
                  In Egypt, where one of Alexander's generals established a Hellenistic dynasty,
                  Greek was used alongside the native Egyptian language from the 4th century BCE up to the 8th century CE.
                  For over 1000 years, Greek functioned both as the spoken language of a courtly, administrative,
                  and urban élite, and as a written language.
                  It gradually dominated administration, econ&shy;omy, literature, sciences, and even private day-to-day
                  correspondence (Ray 2007, Torallas Tovar Sofia 2010, van Minnen 1998, Vierros 2008 & 2012).
                %p
                  Only after the conquest of Egypt by the Arabs in the mid-7th century CE did
                  the importance of Greek diminish (Richter 2010).
                  Some of its functional domains became occu&shy;pied by the Coptic native language, others by Arabic,
                  the language of the new governors.
                  The massive Greek impact on the contemporary Egyptian idiom becomes obvious in thousands of Greek loanwords
                  in Coptic, representing almost all parts of speech and semantic fields (Kasser 1991b, Lefort  1934, Oréal 1999, Rahlf 1912, Reintges 2001 & 2004).
                  The occasional occurrence of Arabic loanwords in 8th- and 9th-century CE Coptic texts indicates
                  incipient Coptic-Arabic contact.
                  Some Coptic texts from the 10th and 11th centuries, the period in which major parts of the indigenous
                  population of Egypt began to shift from their native language to Arabic (Delattre et al. 2012, Papaconstantinou 2007, Zaborowski 2008),
                  bear evidence of intensified borrowing from Arabic (Richter 2006 & 2009).
                %p
                  All in all, it is no exaggeration to say that the Greek-Egyptian contact is the most broadly attested
                  case of language contact in antiquity.
                  Starting with borrowing from Greek into pre-Coptic Egyptian (Clarysse 1987, Fewster 2002, Rutherford 2010),
                  and taking into account borrowing from Arabic to later Coptic, the Egyptian-Coptic language grants us
                  the opportunity to look over 1.500 years of contact-induced language change in a single ancient language
                  under fairly well-known historical and sociolinguistic conditions.
                %p
                  The exceptional wealth of the language data, together with their internal diversity
                  and their diachronic exten&shy;sion, should make investigation into linguistic borrowing
                  into Coptic an important and most rewarding work.
                  However, not at least due to the sheer abundance of data, traditional lexicographical approaches
                  to the loan vocabulary of Coptic (Böhlig 1956, Weiß 1969, Tubach 1999) failed three times during the 20th century.

          .panel.panel-default.panel-project
            .panel-heading
              .panel-title
                = link_to '#work', 'data-toggle': 'collapse', 'data-parent': '#accordion' do
                  Work and aims of the DDGLC project
            .panel-collapse.collapse#work
              .panel-body
                %p
                  The project Database and Dictionary of Greek Loanwords in Coptic (DDGLC) has been hosted by the
                  %i Egyptological Institute -Georg Steindorff-
                  of the University of Leipzig since April 2010, when it began its pilot phase, funded by the
                  = succeed '.' do
                    %i Saxonian State Ministery of Sciences and Art
                  Since November 2012, it has been funded by the
                  %i Deutsche Forschungsgemeinschaft
                  as a long-term project with a projected lifespan ranging through 2024.
                  The DDGLC project seeks to produce a systematic, comprehensive and detailed lexi&shy;cographical
                  compilation and description of Greek loanwords as attested in the entire Coptic corpus
                  throughout all dialects and genres of text.
                  The results of the project shall be made available in an online database and in a printed dictionary.
                %p
                  The core tool of the DDGLC project is a relational database designed to connect linguistic
                  and extra-linguistic data con&shy;cerning types and tokens of all identifiable loanwords in Coptic.
                  The database combines and will reveal the relationships between multiple levels of data:
                  At its foundational level, the database records every single instance of a foreign word used
                  in a Coptic source (i.e. token usage).
                  Each individual attestation will provide the loanword's individual spelling,
                  its full textual context, an English translation, and an encoding to describe
                  its significant grammatical characteristics.
                  At the next level, all data from the attestation level will be grouped according to their "type",
                  forming lists of sublemmata and lemmata, as one would see them a dictionary.
                  Above all this stands a meta-linguistic level, which categorizes the data according
                  to their textual and manuscript source, as well as the dialect, region and date in which it was written.
                %p
                  The DDGLC project will document and present 1,500 years of contact-induced language change
                  of the Egyptian-Coptic language to linguists, philologists and historians for further study.

          .panel.panel-default.panel-project
            .panel-heading
              .panel-title
                = link_to '#literature', 'data-toggle': 'collapse', 'data-parent': '#accordion' do
                  Literature
            .panel-collapse.collapse#literature
              .panel-body
                %p
                  %ul
                    %li Böhlig, Alexander 1956. "Die Fortführung der Arbeit am Lexikon der griechischen Wörter im Koptischen". Wissenschaftliche Zeitschrift der Martin-Luther-Universität Halle - Wittenberg 5/4, 655-657.
                    %li Clarysse, Willy 1987. "Greek loanwords in Demotic," in: Sven P. Vleeming (ed). Aspects of Demotic Lexicography. Acts of the 2nd Conference for Demotic Studies, Studia Demotica 1, Leiden 1987, 9-33.
                    %li Delattre, Alain, Liebrenz, Boris, Vanthiegem, Naïm & Richter, Tonio Sebastian 2012. "Écrire an arabe et en copte. Les cas de deux lettres bilingues". Chronique d'égypte 2012, 170-188.
                    %li Emmel, Stephen 2007. "Coptic Literature in Byzantine and Early Islamic Egypt." In: Roger S. Bagnall (ed.), Egypt in the Byzantine World, 300-700, Cambridge UP, 83-102.
                    %li Fewster, Penelope 2002: "Bilingualism in Roman Egypt". In J.N. Adams, M. Janse & S. Swain: Bilingualism in Ancient Society.  Language Contact and the Written Text. Oxford, 220-245.
                    %li Funk, Wolf-Peter 1991. Entry "Dialects, Morphology of Coptic," Coptic Encyclopedia, vol. 8, 101-108. 
                    %li Kasser, Rodolphe 1991a. Entry "Geography, Dialectal," Coptic Encyclopedia, vol. 133-141.
                    %li Kasser, Rodolphe 1991b. Entry "Vocabulary, Copto-Greek," Coptic Encyclopedia, vol. 8, 215-222.
                    %li Lefort, Louis-Théophile 1934. "Le copte: source auxiliaire du grec". In: Mélanges Bidez, tome II, Brussels, 569-578.
                    %li Loprieno, Antonio 1995. Ancient Egyptian. A linguistic Introduction. Cambridge.
                    %li Loprieno, Antonio 2001. " From Ancient Egyptian to Coptic," in: M. Haspelmath et al. (eds.), Language Typology and Language Universals / Sprachtypologie und sprachliche Universalien / La Typologie des langues et les universaux linguistiques. Berlin - New York 2001, 1742-1761.
                    %li Loprieno, Antonio & Müller, Matthias 2012. "Ancient Egyptian and Coptic". In: Zygmunt Frajzyngier & Erin Shay (eds.), The Afroassiatic Languages. Cambridge Language Surveys. 102-144.
                    %li Oréal, Elsa 1999. "Contact linguistique. Le cas du rapport entre le grec at le copte". Lalies 19, 289-306.
                    %li Papaconstantinou, Arietta 2007. ""They shall speak the Arabic language and take pride in it": Reconsidering the fate of Coptic after the Arab conquest". Le Museón 120, 273-299.
                    %li Papaconstantinou, Arietta 2012. "Why did Coptic fail where Aramaic succeeded? Linguistic developments in Egypt and the Near East after the Arab conquest". In: Alexandra Mullen & Patrick James (eds.), Multilingualism in the Graeco-Roman Worlds. Cambridge: CUP, 58-76.
                    %li Rahlfs, Alfred. "Griechische Wörter im Koptischen". Sitzungsberichte der königlich-preussischen Akademie der Wissenschaften 1912, 1036-1046.
                    %li Ray, John 2007. Greek, Egyptian, and Coptic, in: A.-F. Christidis, A history of Ancient Greek. From the Beginnings to Late Antiquity. Cambridge UP, 811-818.
                    %li Reintges, Chris 2001. "Code-mixing strategies in Coptic Egyptian". Lingua Aegyptia 9, 193-237.
                    %li Reintges, Chris 2004. "Coptic Egyptian as a Bilingual Language Variety". In: Pedro Bádenas de la Peña, Sofía Torallas Tovar, Eugenio R. Luján (eds.) Lenguas en contacto: el testimonio escrito. Madrid, 69-86.
                    %li Richter, Tonio Sebastian 2006. "Coptic[, Arabic loanwords in]". In: Encyclopedia of Arabic Language and Linguistics, vol. 1. Leiden, 595-601.
                    %li Richter, Tonio Sebastian 2009. "Greek, Coptic, and the 'Language of the Hijra'. Rise and Decline of the Coptic Language in Late Antique and Medieval Egypt". In: H. Cotton, R. Hoyland, J. Price, & D.J. Wasserstein (eds.), From Hellenism to Islam: Cultural and Linguistic Change in the Roman Near East. Cambridge UP, 401-446.
                    %li Richter, Tonio Sebastian  2010. "Language choice in the Qurra papyri". In: Arietta Papaconstantinou (ed.), The multilingual experience: Egypt from the Ptolemies to the 'Abbâsids. Ashgate.
                    %li Rutherford, Ian 2010. "Bilingualism in Roman Egypt? Exploring the Archive of Phatres of Narmuthis," in: Evans, Trevor & Obbink, Dirk (eds.), The Language of the Papyri, Oxford, 198-207.
                    %li Schenkel, Wolfgang. 1990. Einführung in die altägyptische Sprachwissenschaft. Darmstadt.
                    %li Tubach, Jürgen 1999. "Bemerkungen zur geplanten Wiederaufnahme des Wörterbuchprojekts "Griechische Lehnwörter im Koptischen" in Halle". In: Stephen Emmel et al., Ägypten und Nubien in spätantiker und christlicher Zeit. Akten des 6. Internationalen Koptologenkongresses Münster, 20.-26. Juli 1996. Bd. 2: Schrifttum, Sprache, Gedankenwelt. Sprachen und Kulturen des Christlichen Orients 6/2. Münster, 405-419.
                    %li Vierros, Marja 2012. Bilingual Notaries in Hellenistic Egypt. A Study of Greek as a Second Language. Collectanea Hellenistica 5, Brussel 2012.
                    %li Vierros, Marja 2008. "Greek or Egyptian? The Language Choice in Ptolemaic Documents from Pathyris", in: Alain Delattre & Paul Heilporn (Hsgg.), "Et maintenant ce ne sont plus que des villages..." Thèbes et sa région aux époques hellénistique, romaine et byzantine. Actes du colloque tenu à Bruxelles les 2 et 3 décembre 2005. Papyrologica Bruxellensia 34. Bruxelles, Association Égyptologique Reine Élisabeth, 73-86.
                    %li Torallas Tovar Sofia 2010. "Greek in Egypt", in: E. Bakker (ed.), A companion to the Ancient Greek language, Oxfrod: Willey-Blackwell, 253-266.
                    %li van Minnen, Peter 1998. "Boorish or Bookish? Literature in Egyptian Villages in the Fayyum in the Graeco-Roman Period", Journal of Juristic Papyrology 28, 99-184.
                    %li Weiss, Hans-Friedrich 1969. "Ein Lexikon der griechischen Wörter im Koptischen". Zeitschrift für Ägyptische Sprache und Altertumskunde 96, 79-80.
                    %li Zaborowski, J.A. 2008. "From Coptic to Arabic in Medieval Egypt." Medieval Encounters 14, 15-40.
                  %p
                    = link_to 'Find more bibliographical information (pdf) ...', '#'
