= bootstrap_form_for(@lemma, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-4') do |f|
  = f.text_field :label
  = f.text_field :meaning
  = f.collection_select :part_of_speech_id, PartOfSpeech.all.order(:label), :id, lambda{|pos| pos.label.titleize}, include_blank: true
  = f.collection_select :article, [nil] + Lemma::ARTICLES.values, :to_s, :to_s
  = f.text_field :loan_word_form, help: @lemma.comments_for('loan_word_form').map{|c| c.created_by.code + ': ' + c.content}.join("\n")
  = f.collection_select :language_id, Language.all.order(:code), :id, :code, include_blank: true
  = f.form_group do
    .btn.btn-default#button-semantic-field-area{style: 'margin: 16px 0'}
      Edit Semantic Fields
  #semantic-field-area{style: 'display: none'}
    = f.collection_check_boxes :semantic_field_ids, SemanticField.all, :id, :label, label: 'Semantic Fields'
  = f.text_field :source
  = f.text_field :reference, help: @lemma.comments_for('reference').map{|c| c.created_by.code + ': ' + c.content}.join("\n")
  %br
  = f.form_group do
    = f.submit 'Submit', class: 'btn btn-primary btn-block'
