.row
  .col-md-12.text-right.text-muted
    %p
      - if @lemmas.total_count != Lemma.count
        showing
        = pluralize @lemmas.total_count, 'Greek lemma', 'Greek lemmas'
        after filtering
        = "(#{(100 * @lemmas.total_count.to_f / Lemma.count).round(1)}%)"
      - else
        showing all
        = pluralize Lemma.count, 'Greek lemma', 'Greek lemmas'

.row
  .col-md-12
    %ul
      - @lemmas.each do |lemma|
        %li
          .panel.panel-default.panel-lemma
            .row
              .col-md-12
                %span.coptic-greek.lemma-label= link_to lemma.label, lemma_path(lemma)
            .row
              .col-md-5
                .row
                  .col-md-12
                    %i= optional_field lemma.meaning
                .row
                  .col-md-12
                    = fa_icon('sticky-note-o', class: 'text-muted panel-lemma-icon')
                    = optional_field lemma.source
              .col-md-4
                .row
                  .col-md-12
                    = fa_icon('tag', class: 'text-muted panel-lemma-icon')
                    = optional_field lemma.part_of_speech&.label&.titleize
                .row
                  .col-md-12
                    = fa_icon('globe', class: 'text-muted panel-lemma-icon')
                    = optional_field lemma&.language&.code&.titleize
              .col-md-3
                .row
                  .col-md-12
                    sublemmas:
                    = lemma.sublemmas.count
                .row
                  .col-md-12
                    = lemma.updated_at.strftime('update: %b %Y')

.row
  .col-md-12.text-center
    = paginate @lemmas, window: 3