.row
  .col-md-12.text-right.text-muted
    %p
      Greek Lemmas:
      = @lemmas.total_count
      = "(#{(100 * @lemmas.total_count.to_f / Lemma.count).round(1)}%)"
.row
  .col-md-12
    %ul
      - @lemmas.each do |lemma|
        %li
          .panel.panel-default.panel-lemma
            .row
              .col-md-4
                %span.coptic-greek.lemma-label= link_to lemma.label, lemma_path(lemma)
              .col-md-4
                = optional_field lemma.part_of_speech&.label
                - if lemma.language
                  = "(#{lemma.language.code})"
              .col-md-3
                sublemmas:
                = lemma.sublemmas.count
              .col-md-1
                = link_to lemma_path(lemma) do
                  = fa_icon('eye')
            .row
              .col-md-4
                %i= lemma.meaning
              .col-md-4
                = optional_field lemma.source
              .col-md-3
                = lemma.updated_at.strftime('update: %b %Y')
              .col-md-1
                = link_to edit_lemma_path(lemma) do
                  = fa_icon('edit')
.row
  .col-md-12.text-center
    = paginate @lemmas, window: 3