- content_for :page_title do
  Greek Lemma

.section.col-md-8.col-md-offset-2
  .page-header
    %h1.lexicon-headline
      Greek Lemma
      %small Lexicon
  .container
    .panel-group
      .panel.panel-default.panel-lexicon
        .panel-heading
          .panel-title Actions
        .panel-body
          .row
            .col-md-6
              Create New Greek Lemma
            .col-md-6
              Update Greek Lemma
      .panel.panel-default.panel-lexicon
        .panel-heading
          .panel-title Greek Lemmas
        .panel-body
          %ul
            - @lemmas.each do |lemma|
              %li
                .panel.panel-default.panel-lemma
                  .row
                    .col-md-4.basic-information
                      %p
                        %span.coptic-greek.lemma-label= link_to lemma.label, lemma_path(lemma)
                      %p.lemma-meaning
                        %i= lemma.meaning
                    .col-md-4.detailed-information
                      %p
                        - if lemma.part_of_speech
                          %span.lemma-pos= lemma.part_of_speech.label
                        - else
                          &ndash;
                        - if lemma.article
                          %span.coptic-greek.lemma-article= "(#{lemma.article})"
                      %p
                        - if lemma.loan_word_form
                          from
                          %i.lemma-loanword= lemma.loan_word_form
                          - if lemma.language
                            %span.lemma-language= "(#{lemma.language.code})"
                    .col-md-3.detailed-information
                      %p
                        sublemmas:
                        = "tbd"
                      %p
                        = lemma.updated_at.strftime('last update: %b %Y')
                    .col-md-1.detailed-information
                      %p
                        = link_to lemma_path(lemma) do
                          %i.fa.fa-eye.has-slow-tooltip{title: 'show'}
                      %p
                        = link_to '#' do
                          %i.fa.fa-wrench.has-slow-tooltip{title: 'update'}


                  // TODO: first make design, then add comments, then add comments for currently not migrated lemmas

          = paginate @lemmas, window: 2





