- content_for :page_title do
  Greek Lemma

%section
  .container
    .page-header
      %h1.lexicon-headline.coptic-greek
        = @lemma.label
        %small Greek Lemma

    .row
      .col-md-6
        .panel-group

          -# lemma, meaning, pos, article
          .panel.panel-default
            .panel-body
              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Lemma
                  %span.lexicon-field-value.coptic-greek
                    = @lemma.label

              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Meaning
                  %span.lexicon-field-value
                    = optional_field  @lemma.meaning

              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Part of Speech
                  %span.lexicon-field-value
                    - if @lemma.part_of_speech
                      = @lemma.part_of_speech.label.titleize
                    - else
                      = '-'

              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Article
                  %span.lexicon-field-value.coptic-greek
                    = optional_field @lemma.article

          -# language
          - unless @lemma.loan_word_form.nil? ||  @lemma.comments_for('loan_word_form').empty?
            .panel.panel-default
              .panel-body
                .row.lexicon-field
                  .col-md-12
                    %span.lexicon-field-attribute
                      Loan Word Form
                    %span.lexicon-field-value
                      = optional_field @lemma.loan_word_form
                    - @lemma.comments_for('loan_word_form').each do |comment|
                      %blockquote.lexicon-field-comment.text-muted
                        %p= comment.content
                        %footer= "Comment by #{comment.created_by.code}"

                .row.lexicon-field
                  .col-md-12
                    %span.lexicon-field-attribute
                      Language
                    %span.lexicon-field-value
                      - if @lemma.language
                        = @lemma.language.code
                      - else
                        = '-'


          -# semantic fields
          - unless @lemma.semantic_fields.empty?
            .panel.panel-default
              .panel-body
                .row.lexicon-field
                  .col-md-12
                    %span.lexicon-field-attribute
                      = 'Semantic Field'.pluralize @lemma.semantic_fields.count
                  - @lemma.semantic_fields.each do |semantic_field|
                    .row
                      %span.lexicon-field-value{style: 'margin-left: 170px'}
                        = "#{semantic_field.label} (#{semantic_field.source})"

          -# source, reference
          .panel.panel-default
            .panel-body
              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Source
                  %span.lexicon-field-value
                    = optional_field @lemma.source

              .row.lexicon-field
                .col-md-11
                  %span.lexicon-field-attribute
                    Reference
                  %span.lexicon-field-value
                    = optional_field @lemma.reference
                  - @lemma.comments_for('reference').each do |comment|
                    %blockquote.lexicon-field-comment.text-muted
                      %p= comment.content
                      %footer= "Comment by #{comment.created_by.code}"
                .col-md-1
                  %btn.btn.btn-default.btn-block{'data-toggle': 'modal', 'data-target': '#referenceCommentModal', style: 'padding: 0; border: none'}
                    = fa_icon('commenting-o')
            .modal.fade#referenceCommentModal{tabindex: -1, role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': 'true'}
              = render partial: 'lemmas/add_comment', locals: {field: :reference, lemma_id: @lemma.id}




          -# further comments
          - comments = @lemma.comments_for('lemma') + @lemma.comments_for('processing_note')
          - unless comments.empty?
            .panel.panel-default
              .panel-body
                - comments.each do |comment|
                  .row.lexicon-field
                    .col-md-12
                      %blockquote.lexicon-field-comment.text-muted
                        %p= comment.content
                        %footer= "Comment by #{comment.created_by.code}"

          -# actions
          - unless current_user.guest?
            .panel.panel-default.panel-lexicon
              .panel-heading
                .panel-title Actions
              .panel-body
                -# todo: make sure that only comment owner can edit it (except admin)
                %p
                  = link_to edit_lemma_path(@lemma) do
                    = fa_icon('edit')
                    Edit

      .col-md-6
        -# coptic sublemmas
        .panel.panel-default
          .panel-body
            coptic sublemmas




