- content_for :page_title do
  Greek Lemma

%section
  .container
    .page-header
      %h1.lexicon-headline.coptic-greek
        = @lemma.label
        %small
          = link_to 'Greek Lemma', lemmas_path

    .row
      .col-md-6
        .panel-group

          -# lemma, meaning, pos, article
          .panel.panel-default
            .panel-body
              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Lemma
                  %span.lexicon-field-value.coptic-greek
                    = @lemma.label

              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Meaning
                  %span.lexicon-field-value
                    = optional_field  @lemma.meaning

              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Part of Speech
                  %span.lexicon-field-value
                    - if @lemma.part_of_speech
                      = @lemma.part_of_speech.label.titleize
                    - else
                      = '-'

              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Article
                  %span.lexicon-field-value.coptic-greek
                    = optional_field @lemma.article

          -# language
          - unless @lemma.loan_word_form.nil? &&  @lemma.comments_for('loan_word_form').empty?
            .panel.panel-default
              .panel-body
                .row.lexicon-field
                  .col-md-11
                    %span.lexicon-field-attribute
                      Loan Word Form
                    %span.lexicon-field-value
                      = optional_field @lemma.loan_word_form
                    = render partial: 'show_comments', locals: {lemma: @lemma, field: 'loan_word_form'}
                  .col-md-1
                    = comment_button '#loanwordformComment'
                = render partial: 'add_comment', locals: {target_id: 'loanwordformComment', field: 'loan_word_form', lemma_id: @lemma.id}

                .row.lexicon-field
                  .col-md-12
                    %span.lexicon-field-attribute
                      Language
                    %span.lexicon-field-value
                      - if @lemma.language
                        = @lemma.language.code
                      - else
                        = '-'


          -# semantic fields
          - unless @lemma.semantic_fields.empty?
            .panel.panel-default.panel-lexicon
              .panel-body
                .row.lexicon-field
                  .col-md-12
                    %span.lexicon-field-attribute
                      = 'Semantic Field'.pluralize @lemma.semantic_fields.count
                  - @lemma.semantic_fields.each do |semantic_field|
                    .row
                      %span.lexicon-field-value{style: 'margin-left: 170px'}
                        = "#{semantic_field.label} (#{semantic_field.source})"
                        - if semantic_field.url
                          = link_to fa_icon('external-link'), semantic_field.url, target: :blank

          -# source, reference
          .panel.panel-default
            .panel-body
              .row.lexicon-field
                .col-md-12
                  %span.lexicon-field-attribute
                    Source
                  %span.lexicon-field-value
                    = optional_field @lemma.source

              .row.lexicon-field
                .col-md-11
                  %span.lexicon-field-attribute
                    Reference
                  %span.lexicon-field-value
                    = optional_field @lemma.reference
                  = render partial: 'show_comments', locals: {lemma: @lemma, field: 'reference'}
                .col-md-1
                  = comment_button '#referenceComment'
              = render partial: 'add_comment', locals: {target_id: 'referenceComment', field: 'reference', lemma_id: @lemma.id}



          -# further comments
          - comments = @lemma.comments_for('lemma') + @lemma.comments_for('processing_note')
          .panel.panel-default
            .panel-body
              - if comments.empty?
                %i.text-muted No comments.
              - else
                .row.lexicon-field
                  .col-md-12
                    - comments.sort_by{|c| c[:created_at]}.each do |comment|
                      %blockquote.lexicon-field-comment.text-muted
                        %p= comment.content
                        %small= "#{comment.created_by.code}, #{comment.updated_at.strftime('%b %Y')}"
              = render partial: 'add_comment', locals: {target_id: 'generalComment', field: 'lemma', lemma_id: @lemma.id}

          -# actions
          - unless current_user.guest?
            .panel.panel-default.panel-lexicon
              .panel-heading
                .panel-title Actions
              .panel-body
                -# todo: make sure that only comment owner can edit it (except admin)
                .row
                  .col-md-4.text-center
                    = link_to edit_lemma_path(@lemma) do
                      = fa_icon('edit')
                      Edit
                  .col-md-4.text-center
                    = comment_button '#generalComment', ' Comment'
                  .col-md-4.text-center
                    - if current_user.admin?
                      = link_to lemma_path(@lemma), method: :delete, data: {confirm: 'Are you sure?'} do
                        = fa_icon('trash')
                        Delete
                    - else
                      %i
                        %small.text-muted No permisson for delete.


      .col-md-6
        -# coptic sublemmas
        .panel.panel-default
          .panel-body
            coptic sublemmas




