- content_for :page_title do
  Greek Lemma

%section
  .container
    .page-header
      %h1.lexicon-headline
        %span.coptic-greek= @lemma.label
        %small
          = link_to 'Lexicon', '/lexicon/about'
          &ndash;
          = link_to 'Greek Lemma', lemmas_path
          &ndash;
          = link_to 'Coptic Sublemma', sublemmas_path
          &ndash;
          = link_to 'Coptic Usage', usages_path

    .row
      .col-md-6
        .panel-group

          -# lemma, meaning, pos, article
          .panel.panel-default.panel-lexicon
            .panel-body
              .row.lexicon-field
                .col-md-3.lexicon-field-attribute
                  Lemma
                .col-md-7.lexicon-field-value.coptic-greek
                  = @lemma.label

              .row.lexicon-field
                .col-md-3.lexicon-field-attribute
                  Meaning
                .col-md-8.lexicon-field-value
                  = optional_field  @lemma.meaning

              .row.lexicon-field
                .col-md-3.lexicon-field-attribute
                  Part of Speech
                .col-md-8.lexicon-field-value
                  - if @lemma.part_of_speech
                    = @lemma.part_of_speech.label.titleize
                  - else
                    = '-'
                .col-md-1
                  = comment_button '#partofspeechComment'
              = render partial: 'comments/show_comments', locals: {commented_entry: @lemma, field: 'part_of_speech'}
              = render partial: 'comments/add_comment', locals: {target_id: 'partofspeechComment', field: 'part_of_speech', commented_entry_id: @lemma.id, comment: LemmaComment.new}

              .row.lexicon-field
                .col-md-3.lexicon-field-attribute
                  Article
                .col-md-8.lexicon-field-value.coptic-greek
                  = optional_field @lemma.article

          -# language
          - if @lemma.loan_word_form.present? || @lemma.language.present? || !@lemma.comments_for('loan_word_form').empty?
            .panel.panel-default.panel-lexicon
              .panel-body
                .row.lexicon-field
                  .col-md-3.lexicon-field-attribute
                    Loan Word Form
                  .col-md-8.lexicon-field-value
                    = optional_field @lemma.loan_word_form
                  .col-md-1
                    = comment_button '#loanwordformComment'
                = render partial: 'comments/show_comments', locals: {commented_entry: @lemma, field: 'loan_word_form'}
                = render partial: 'comments/add_comment', locals: {target_id: 'loanwordformComment', field: 'loan_word_form', commented_entry_id: @lemma.id, comment: LemmaComment.new}

                .row.lexicon-field
                  .col-md-3.lexicon-field-attribute
                    Language
                  .col-md-8.lexicon-field-value
                    - if @lemma.language
                      = @lemma.language.code
                    - else
                      = '-'


          -# semantic fields
          - unless @lemma.semantic_fields.empty?
            .panel.panel-default.panel-lexicon
              .panel-body
                .row.lexicon-field
                  .col-md-3.lexicon-field-attribute
                    = 'Semantic Field'.pluralize @lemma.semantic_fields.count
                  .col-md-9.lexicon-field-value
                    - @lemma.semantic_fields.each do |semantic_field|
                      = "#{semantic_field.label} (#{semantic_field.source})"
                      - if semantic_field.url
                        = link_to fa_icon('external-link'), semantic_field.url, target: :blank
                      %br

          -# source, reference
          - if @lemma.source.present? || @lemma.reference.present? || !@lemma.comments_for('reference').empty?
            .panel.panel-default.panel-lexicon
              .panel-body
                .row.lexicon-field
                  .col-md-3.lexicon-field-attribute
                    Source
                  .col-md-8.lexicon-field-value
                    = optional_field @lemma.source

                .row.lexicon-field
                  .col-md-3.lexicon-field-attribute
                    Reference
                  .col-md-8.lexicon-field-value
                    = optional_field @lemma.reference
                  .col-md-1
                    = comment_button '#referenceComment'
                = render partial: 'comments/show_comments', locals: {commented_entry: @lemma, field: 'reference'}
                = render partial: 'comments/add_comment', locals: {target_id: 'referenceComment', field: 'reference', commented_entry_id: @lemma.id, comment: LemmaComment.new}



          -# owner, updater, further comments
          .panel.panel-default.panel-lexicon
            .panel-body
              .row.lexicon-field
                .col-md-3.lexicon-field-attribute
                  Creation
                .col-md-8.lexicon-field-value
                  = "#{@lemma.created_at.strftime('%b %e, %Y')} by #{@lemma.created_by.code}"
              .row.lexicon-field
                .col-md-3.lexicon-field-attribute
                  Last Update
                .col-md-8.lexicon-field-value
                  - if @lemma.created_at == @lemma.updated_at
                    = '-'
                  - else
                    = "#{@lemma.updated_at.strftime('%b %e, %Y')} by #{@lemma.updated_by.code}"
              .row.lexicon-field
                - comments = @lemma.comments_for('lemma') + @lemma.comments_for('processing_note')
                .col-md-3.lexicon-field-attribute
                  Comments
                .col-md-9
                  - if comments.empty?
                    = '-'
                  - else
                    - comments.sort_by{|c| c[:created_at]}.each do |comment|
                      %blockquote.lexicon-field-comment.text-muted
                        %p= comment.content
                        %small
                          = "#{comment.created_by.code}, #{comment.updated_at.strftime('%b %Y')}"
                          - if comment.created_by == current_user
                            = link_to lemma_comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'} do
                              = fa_icon('trash')
                    %br
              = render partial: 'comments/add_comment', locals: {target_id: 'generalComment', field: 'lemma', commented_entry_id: @lemma.id, comment: LemmaComment.new}

          -# actions
          - unless current_user.guest?
            .panel.panel-default.panel-lexicon
              .panel-heading
                .panel-title Actions
              .panel-body
                .row
                  .col-md-3.text-center
                    = link_to edit_lemma_path(@lemma) do
                      = fa_icon('edit')
                      Edit
                  .col-md-3.text-center
                    = comment_button '#generalComment', ' Comment'
                  .col-md-3.text-center
                    = link_to new_sublemma_path(lemma_id: @lemma.id) do
                      = fa_icon('plus')
                      Sublemma
                  .col-md-3.text-center
                    - if current_user.admin?
                      = link_to lemma_path(@lemma), method: :delete, data: {confirm: 'Are you sure?'} do
                        = fa_icon('trash')
                        Delete
                    - else
                      %i
                        %small.text-muted No permisson for delete.


      .col-md-6
        -# coptic sublemmas
        .panel.panel-default.panel-lexicon
          .panel-heading
            .panel-title
              = link_to 'Coptic Sublemmas', sublemmas_path
              = "(#{@lemma.sublemmas.count})"
          .panel-body
            = render partial: 'sublemmas/previews', locals: {sublemmas: @lemma.sublemmas, show_lemma: false}






