!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title
      DDGLC
      - if content_for? :page_title
        = "| #{yield(:page_title)}"
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{:class => "#{controller_name} #{action_name}"}
    = render 'shared/navigation'
    = yield