- content_for :page_title do
  Semantic Field

.section.col-md-8.col-md-offset-2
  .page-header
    %h1.lexicon-headline
      Semantic Fields
      %small Lexicon
  .container
    %table.table.table-hover
      %thead
        %tr
          %th Label
          %th URL
          %th Source
          %th Action
      %tbody
        - null_value = '--'
        - @semantic_fields.each do |f|
          %tr
            %td
              = f.label
              = null_value if f.label.blank?
            %td
              = link_to "#{f.url}", f.url, target: :blank
              = null_value if f.url.blank?
            %td
              = f.source
              = null_value if f.source.blank?
            %td
              = link_to fa_icon('pencil-square', class: 'fa-2x'), root_path
              = link_to fa_icon('trash', class: 'fa-2x'), root_path


    .row
      .col-md-12
        = link_to fa_icon('user-plus', class: 'fa-2x'), root_path

