- content_for :page_title do
  Language

%section.col-md-8.col-md-offset-2
  .page-header
    %h1.lexicon-headline
      Language
      %small Lexicon
  .container
    %table.table.table-hover
      %thead
        %tr
          %th Code
          %th Label
          %th Action
      %tbody
        - null_value = '--'
        - @languages.each do |l|
          %tr
            %td
              = l.code
              = null_value if l.code.blank?
            %td
              = l.label
              = null_value if l.label.blank?
            %td
              = link_to fa_icon('pencil-square', class: 'fa-2x'), root_path
              = link_to fa_icon('trash', class: 'fa-2x'), root_path


    .row
      .col-md-12
        = link_to fa_icon('user-plus', class: 'fa-2x'), root_path

